.modal-footer {   border-top: 0px; }
body{
    font-family: sans-serif;
}

img, video {
    /* images are ther actual width (auto)
       if the larger than their column (container) width
       they are resized to 100% their column (container) 
       and centered using the margin auto rule. */
    max-width:100%;
    width: auto;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    
}
iframe{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


h1{font-size: 2em;}
h2 {font-size: 1.75em;}
h3{font-size: 1.5em;}

address{
    display: inline;
}
