<!doctype html>
<html lang="pt-br">
<!-- 
    Author: Gutenberg Barros
    Project: Greenpot
    Created Date: Oct 5, 2016
    Updated: Oct 5, 2016
-->
    
<!-- HEAD -->
    <head>
        
<!-- META -->
        <meta charset="utf-8">
        <meta name = "author" content = "Gutenberg Duarte Neves de Barros">
        <meta name = "description" content = "Analise e sistemas de informacao">
        <meta name = "Keywords" content = "horta de frutas">

<!-- TITLE -->
        <title>Horta Greenpot: Vida saudavel sem esforço</title>
    
<!-- Stylesheet LINK -->
        
        <link href="css/gs-960.css" rel="stylesheet" type="text/css">        
         <link href="css/styles.css" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="script.js"></script>

    <link rel="icon" type="image/png" href="greenpot_logo_leaf.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        
    </head>

<!-- BODY -->
    <body class="grid">
        
<!-- HEADER -->
        <header>
            <div class="col col-6">
                <img src="greenpot_logo_leaf.png" width="540" height="159" alt="Greenpot">
            </div>  
        </header>
<!-- End HEADER -->
        <br class="clear">
<!-- MAIN -->
        <main>
            <article  class="col col-12" >
                <h1><center>Sua horta greenpot</center></h1>
                <p><center>Vida saudavel sem esforço</center></p>
            </article>
            
            <figure  class="col col-6"> 
                <img src="imagens/alface.jpg" width="960" height="540" alt="Alface">
                <a href=#><figcaption>Alface</a></figcaption>
                
            </figure>
            
            <figure  class="col col-6"> 
                <img src="imagens/pimentao.jpeg" width="960" height="540" alt="Pimentão">
                <a href=#><figcaption>Pimentão</a></figcaption>
            </figure>

            
            <br class="clear">
            
             <figure  class="col col-6"> 
                <img src="imagens/pimenta.jpg" width="960" height="540" alt="Pimenta">
                <a href=#><figcaption>Pimenta</figcaption>
            </figure>
            
             <br class="clear">
            
    </body>
<!-- End BODY -->
</html>